/* .div-1{
    background-image: url(./image/Landing-1st-Strip-scaled.jpg);
} */
*{
    font-family: 'Kanit', sans-serif;
}
.pointer {cursor: pointer;}
#popup_container {
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(50, 50, 50, 0.5);
    position: fixed;
    top: 0;
    z-index: 500;
}

#popup {
    background: white;
    width: 400px;
    height: 500px;
    margin: 90px auto;
    border-radius: 10px;
}
#popup_container2 {
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(50, 50, 50, 0.5);
    position: fixed;
    top: 0;
    z-index: 500;
}

#popup2 {
    background: white;
    width: 400px;
    height: 500px;
    margin: 90px auto;
    border-radius: 10px;
}

.bg_top{
    width: 100%;
    height: 640px;
    background-image: url(./image/Landing-1st-Strip-scaled.jpg);
    /* position: absolute; */
    z-index: -100;
    background-size: cover;
    background-position: center;
}

#nav_top{
    padding-top: 20px;
    font-family: 'Kanit', sans-serif;
    font-weight:bold;
}

.fixed-top {
    top: -40px;
    transform: translateY(40px);
    transition: transform .3s;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    /* padding: 12px 16px; */
    text-decoration: none;
    display: block;
}

.dropdown-menu a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown:hover .dropdown-toggle {
    background-color: none
}
.nav-item{
    font-size: 14px;
}

#test{
    padding: 50px;
    position: relative;
}

.box1, .box2, .box3{
    margin: 10px;
    /* padding: 10px; */
    float: left;
    height: 150px;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    /* display: block; */
}

.box1{
    background-image: url(./image/Mask-Group-1-1.png);
    background-position: center;
    background-repeat: no-repeat;
    text-align: right;
    padding-right: 20px;
    background-size: cover;
    font-family: 'Kanit', sans-serif;
}

.box2{
    background-image: url(./image/successful.png);
    background-position: center;
    background-repeat: no-repeat;
    text-align: right;
    padding-right: 20px;
    background-size: cover;
    font-family: 'Kanit', sans-serif;
}

.box3{
    background-image: url(./image/Mask-Group-2.png);
    background-position: center;
    background-repeat: no-repeat;
    text-align: right;
    padding-right: 20px;
    font-family: 'Kanit', sans-serif;
}

.hashtag{
    font-family: 'Kanit', sans-serif;
}
.txt-1{
    font-family: 'Kanit', sans-serif;
    font-size: 55px;
    font-weight: bolder;
    margin-top: 185px;
    color: rgb(55,55,55);
}
.txt-2{
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
    font-weight: bold;
}
.txt-2-2{
    width: 125px;
    background: linear-gradient(45deg, rgb(173,52,167), rgb(134,75,176));
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    font-weight: bold;
    font-size: 23px;
  }
  .txt-2-3{
    color: rgb(55,55,55);
    font-weight: bold;
    font-size: 23px;
  }
  .txt-2-4{
    background: linear-gradient(45deg, rgb(173,52,167), rgb(134,75,176));
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    font-weight: bold;
  }
  .txt-3{
    margin-top: 25px;
    background: linear-gradient(45deg, rgb(173,52,167), rgb(134,75,176));
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    font-weight: bold;
  }
  .txt-4{
      margin-bottom: 1px;
      color: black;
      font-weight: 550;
  }
  .txt-5{
    font-family: 'Kanit', sans-serif;
    margin-top: 5px;
    background: linear-gradient(45deg, rgb(206,31,159), rgb(181,46,163));
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    font-weight: bold;
    font-size: 60px;
  }
  .txt-6{
    font-family: 'Kanit', sans-serif;
    color: black;
    font-size: 24px;
    /* font-weight: bold; */
}
.txt-7{
    font-family: 'Kanit', sans-serif;
    color: purple;
    font-weight: bold;
}
.txt-8{
    font-family: 'Kanit', sans-serif;
    color: black;
    font-size: 24px;
    letter-spacing: 1px;
}
.txt-9{
    font-family: 'Kanit', sans-serif;
    font-weight: bolder;
    letter-spacing: 1px;
}
.txt-10{
    font-family: 'Kanit', sans-serif;
    color: black;
    font-size: 23px;
    letter-spacing: 1px;
}
.txt-11{
    font-family: 'Kanit', sans-serif;
    color: black;
    font-weight:lighter;
}
.txt-12{
    font-family: 'Kanit', sans-serif;
    margin-top: 5px;
    background: linear-gradient(45deg, rgb(206,31,159), rgb(181,46,163));
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    font-weight: bold;
    font-size: 50px;
}
.txt-13{
    font-family: 'Kanit', sans-serif;
    margin-top: 5px;
    background: linear-gradient(45deg, rgb(206,31,159), rgb(143,71,174));
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    font-weight: bold;
    font-size: 25px;
}
.txt-14{
    font-size: 25px;
}
.txt-15{
    font-size: 35px;
    font-weight: bold;
}
.txt-16{
    font-family: 'Kanit', sans-serif;
    margin-top: 5px;
    background: linear-gradient(45deg, rgb(206,31,159), rgb(143,71,174));
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    font-weight: bold;
    font-size: 24px;
}
.font-txt1{
    font-size: 23px;
}
.font-txt2{
    font-size: 41px;
}
.promote{
    padding: 10px;
    max-width: 100%;
    /* height: 75%; */
    background-image: url(./image/Story-banner.jpg);
    position: absolute;
    /* z-index: -100; */
    background-size: cover;
    background-position: center;
    position: relative;
    
}

.hashtag{
    width: 350px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

iframe{
    border-radius: 5%;
}

/* @media only screen and (max-width: 1000px) {
    .video{
        width: 100%;
        text-align: center;
    }
} */

.highlight{
    padding: 50px;
    position: relative;
}

#story1, #story2, #story3{
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: none;
    color: black;
    font-family: 'Kanit', sans-serif;
}

/* @media screen and (max-width: 1500px) {
    .story1, .story2, .story3, .highlight{
        width: 100%;
    }
} */

.txt_hihglight{
    font-size: 50px;
    font-weight: 1000;
}

#img_highlight1{
    height: 450px;
    background-image: url(./image/เขียง.png);
    background-position: center;
    background-repeat: no-repeat;
    text-align: right;
    padding-right: 20px;
    background-size: cover;
    border-radius: 0px 0px 20px 20px;
    
}

#img_highlight2{
    height: 450px;
    background-image: url(./image/มหกรรม-ชานมไข่มุก.png);
    background-position: center;
    background-repeat: no-repeat;
    text-align: right;
    padding-right: 20px;
    background-size: cover;
    border-radius: 0px 0px 20px 20px;
}

#img_highlight3{
    height: 450px;
    background-image: url(./image/รวมร้านอร่อย-วังทอง.png);
    background-position: center;
    background-repeat: no-repeat;
    text-align: right;
    padding-right: 20px;
    background-size: cover;
    border-radius: 0px 0px 20px 20px;
}

#title{
    margin: 7px;
}
#img_want1{
    height: 250px;
    background-image: url(./image/มหกรรม-ชานมไข่มุก2.png);
    background-position: center;
    background-repeat: no-repeat;
    padding-right: 20px;
    background-size: cover;
    margin-top:30px;
    margin-left: auto;
    border-radius: 15px ;
}
#img_want2{
    height: 250px;
    background-image: url(./image/สตรีทฟู้ด.png);
    background-position: center;
    background-repeat: no-repeat;
    padding-right: 20px;
    background-size: cover;
    margin-top:30px;
    margin-left: auto;
    border-radius:15px ;
}
#img_want3{
    height: 250px;
    background-image: url(./image/เมซองเดอลาว.png);
    background-position: center;
    background-repeat: no-repeat;
    padding-right: 20px;
    background-size: cover;
    margin-top:30px;
    margin-left: auto;
    border-radius:15px ;
}
#img_want4{
    height: 250px;
    background-image: url(./image/รวมเตี๋ยวร้านเด็ด.png);
    background-position: center;
    background-repeat: no-repeat;
    padding-right: 20px;
    background-size: cover;
    margin-top:30px;
    margin-left: auto;
    border-radius:15px ;
}

.download_app{
    max-width: 100%;
    height: 400px;
    background-image: url(./image/istock-610763750-edit.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
} 

.txt_app_1{
    font-family: 'Kanit', sans-serif;
    font-weight: 1000;
    margin-top: 90px;
}
.txt_app_2{
    font-family: 'Kanit', sans-serif;
    font-weight: 1000;
    font-size: 50px;
}
.img-eat {
    opacity: 1;
    border-radius: 1%;
    /* display: block; */
    width: 100%;
    height: auto;
    transition: .3s ease;
  }
.img-eat:hover{
    opacity: 0.3;
  }

.poppular_restaurant{
    padding-top: 80px;
    max-width: 100%;
    height: 400px;
    background-image: url(./image/banner-2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.text_pop_top{
    font-size: 47px;
}

.text_pop{
    line-height: 0.4;
}

.link_restaurant{
    width: 320px;
    height: 55px;
    padding-top: 10px;
    text-align: center;
    border-radius: 50px;
    color: #fff;
    background-image: linear-gradient(to right, #c9249f, #8949ad);
    font-weight: 1000;
}

.text_link_restaurant{
    color: #fff;
    text-decoration: none;
}

.text_link_restaurant:hover {
    color: #fff;
    text-decoration: none;
}
.card{
    border-radius: 10px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}
.card-body{
    margin-left: 15px;
    margin-right: 15px;
}
.img-eat-1{
    opacity: 1;
    border-radius: 2%;
    /* display: block; */
    width: 400px;
    height: auto;
    transition: .3s ease;
  }
.img-eat-1:hover{
    opacity: 0.3;
}
.img-tip{
    opacity: 1;
    border-radius: 10px 10px 0px 0px;
    /* display: block; */
    /* width: 400px; */
    /* height: auto; */
    transition: .3s ease;
}
.img-tip:hover{
    opacity: 0.3;
}
.order_with_robinhood{
    background-color: #F7F7F7;
}
.txt-circle.button1{
    height: 45px;
    width: 45px;
    background-image: linear-gradient(to right, #c9249f, #8949ad);
    color: white;
    height: 45px;
    width: 45px;
    border-color: rgb(168,9,124);
    border-radius: 50%;
    font-weight: bold;
    font-size: 24px;
}
.txt-circle.button2{
    height: 45px;
    width: 45px;
    /* background-color: linear-gradient(to right, #c9249f, #8949ad); */
    background-image: white;
    color: rgb(168,9,124);
    height: 45px;
    width: 45px;
    border-radius: 50%;
    border-color: rgb(168,9,124);
    font-weight: bold;
    font-size: 24px;
    /* padding-left: 2%; */
    /* margin-left: 1px; */
    /* display: inline-block; */
}
.txt-circle.button3{
    height: 45px;
    width: 45px;
    /* background-color: linear-gradient(to right, #c9249f, #8949ad); */
    background-image: white;
    color: rgb(168,9,124);
    height: 45px;
    width: 45px;
    border-radius: 50%;
    border-color: rgb(168,9,124);
    font-weight: bold;
    font-size: 24px;
    /* padding-left: 2%; */
    /* margin-left: 1px; */
    /* display: inline-block; */
}
.txt-circle.button4{
    height: 45px;
    width: 45px;
    /* background-color: linear-gradient(to right, #c9249f, #8949ad); */
    background-image: white;
    color: rgb(168,9,124);
    height: 45px;
    width: 45px;
    border-radius: 50%;
    border-color: rgb(168,9,124);
    font-weight: bold;
    font-size: 24px;
    /* padding-left: 2%; */
    /* margin-left: 1px; */
    /* display: inline-block; */
}
.txt-circle.button5{
    height: 45px;
    width: 45px;
    /* background-color: linear-gradient(to right, #c9249f, #8949ad); */
    background-image: white;
    color: rgb(168,9,124);
    height: 45px;
    width: 45px;
    border-radius: 50%;
    border-color: rgb(168,9,124);
    font-weight: bold;
    font-size: 24px;
    /* padding-left: 2%; */
    /* margin-left: 1px; */
    /* display: inline-block; */
}
.txt-circle.button6{
    height: 45px;
    width: 45px;
    /* background-color: linear-gradient(to right, #c9249f, #8949ad); */
    background-image: white;
    color: rgb(168,9,124);
    height: 45px;
    width: 45px;
    border-radius: 50%;
    border-color: rgb(168,9,124);
    font-weight: bold;
    font-size: 24px;
    /* padding-left: 2%; */
    /* margin-left: 1px; */
    /* display: inline-block; */
}
.app{
    /* margin: auto; */
    width: 50%;
    margin-left: 410px;
}
.ans1 {
    background-color: #FFF;
    width: 70%;
    height: 100%;
    /* font-size: 25px; */
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #111;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 1px 3px 10px 0 rgb(162 143 163 / 20%);
}
#panel, #flip, #panel2, #flip2, #panel3, #flip3, #panel4, #flip4, #panel5, #flip5, #panel6, #flip6, #panel7, #flip7, #panel8, #flip8, #panel9, #flip9, #panel10, #flip10, #panel11, #flip11, #panel12, #flip12{
    padding: 5px;
    background-color: #ffffff;
    border: solid 1px #000000;
    /* font-size: 24px; */
  }
  
#panel, #panel2, #panel3, #panel4, #panel5, #panel6, #panel7, #panel8, #panel9, #panel10, #panel11, #panel12{
    padding: 10px;
    display: none;
}

/* .ans{ */
    /* width: 100%;
    height: 100%;
    background-image: url(./image/Mask-Group-1.png); */
    /* position: absolute; */
    /* z-index: -100;
    background-size: cover; */
    /* background-position: center; */
/* } */
.bg_aboutus{
    width: 100%;
    height: 350px;
    
    background-image: url(./image/banner-หน้ารู้จักเรา.png);
    /* position: absolute; */
    z-index: -100;
    background-size: cover;
    /* background-position: center; */
    opacity: 0.5;
    filter: alpha(opacity=40);
}
.ans1{
    width: 72%;
    height: 75px;
}
.ans2{
    font-size: 16px;
    background-color: #FFF;
    width: 72%;
    height: 100%;
    /* font-size: 25px; */
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #111;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 1px 3px 10px 0 rgb(162 143 163 / 20%);
}
.ans3{
    background-color: #FFF;
    /* font-size: 25px; */
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #111;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 1px 3px 10px 0 rgb(162 143 163 / 20%);
    width: 72%;
    height: 75px;
}
.ans_1{
    
    font-size: 22px;
}
.ans_div{
    margin-left: 10%;
}
#list{
    height: 40px;
    width: 135px;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: bolder;
    text-decoration: none;
    border-radius: 20px;
    background: linear-gradient( 45deg, #c428a0, #8b4aae);
    border: none;
    z-index: 0;
}
.footer{
    margin-left: -150px;
    background-color: black;
}
/* body .btn.loadMoreBtn::after {
    content: '';
    position: absolute;
    /* background: url(image/back.png); */
    /* background-size: 100% 100%;
    left: auto;
    right: 26px;
    top: auto;
    bottom: 10.5px;
    width: 12px;
    height: 16px;
    z-index: 0;
} */ 
/* .img-down{
    z-index: 10;
} */

/* [id^=switch],
[id^=switch] + *{
  display:none;
}
[id^=switch]:checked + *{
  display:block;
} */

