.bg_top{
    width: 100%;
    /* height: 39.5%; */
    height: 480px;
    background-image: url(./image/Landing-1st-Strip-3.png);
    /* position: absolute; */
    z-index: -100;
    background-size: cover;
    background-position: center;
}
#navbar3{
    color: rgb(156, 55, 156);
}
.txt-1-1{
    margin-top: 100px;
    font-family: 'Kanit', sans-serif;
    font-size: 45px;
    font-weight: bold;
    color: rgb(53, 52, 52);
}
.txt-1-2{
    font-family: 'Kanit', sans-serif;
    margin-top: 10px;
    font-size: 23px;
}
.color-robinhood{
    font-weight: bold;
    background: linear-gradient( 45deg, #c428a0, #8b4aae);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#img-food1{
    height: 510px;
    width: 102.5%;
    background-image: url(./image/1414x996.jpg);
    background-position: center;
    background-repeat: no-repeat;
    text-align: right;
    background-size: cover;
    border-radius: 10px;
    box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.2);
    
}
#img-food2{
    height: 245px;
    background-image: url(./image/RBH-x-Gourmet_Second-Highlight-Thumbnail.jpg);
    background-position: center;
    background-repeat: no-repeat;
    text-align: right;
    background-size: cover;
    border-radius: 10px;
    box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.2);
    
}
#img-food3{
    height: 245px;
    background-image: url(./image/SSSxRBH-Opening-Picture.png);
    background-position: center;
    background-repeat: no-repeat;
    text-align: right;
    background-size: cover;
    border-radius: 10px;
    box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.2);
    margin-top: 15px;    
}
.box-img{
    height: 260px;
    width: 106%;
    background-position: center;
    background-repeat: no-repeat;
    text-align: right;
    background-size: cover;
    border-radius: 10px;
    box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.2);
}
#img-food4{
    background-image: url(./image/มหกรรม-ชานมไข่มุก2.png);
}
#img-food5{
    background-image: url(./image/Seafood272x272.jpg);
}
#img-food6{
    background-image: url(./image/Sugar272x272.jpg);
}
#img-food7{
    background-image: url(./image/Morning272x272.jpg);
}
#img-food8{
    background-image: url(./image/ร้านโปรด.png);
}
#img-food9{
    background-image: url(./image/ไชน่าทาวน์.png);
}
#img-food10{
    background-image: url(./image/รวมร้านอร่อยในโรงแรม.png);
}
#img-food11{
    background-image: url(./image/ร้านปิดดึก.png);
}
#img-food12{
    background-image: url(./image/สุโก้ยเจแปน.png);
}
#img-food13{
    background-image: url(./image/เฮลตี้าสุดซอย.png);
}
#img-food14{
    background-image: url(./image/สตรีทฟู้ดดี้.png);
}
#img-food15{
    background-image: url(./image/เมซองเดอลาว.png);
}
#img-food16{
    background-image: url(./image/รวมเตี๋ยวร้านเด็ด.png);
}
.button{
    height: 40px;
    width: 135px;
    color: #fff;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: bolder;
    text-decoration: none;
    border-radius: 20px;
    background: linear-gradient( 45deg, #c428a0, #8b4aae);
    border: none;
}
.footer{
    background-color: black;
}